@import'colores.scss';
@import "breakpoints.scss";

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1031;
}

.loading-message {
    margin-left: 0.625rem;
    font-size: 0.9rem;
}

mat-spinner {
    margin-right: 0.625rem;
}

router-outlet {
    display: none;
}

.grid {
    display: grid;
    grid-template-areas:
        'header'
        'content'
        'footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.content.content-dark, .spinner-container.content-dark {
    --bs-body-bg: none;
    background-color: $gray-dark-80;
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .grid {
        grid-template-areas:
            'header'
            'content'
            'footer';
    }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .loading-message {
        margin-left: 0.2rem;
        font-size: 0.7rem;
    }
}


main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-column, .right-column {
    flex: 1;
    min-width: 300px;
}

.supplier-search, .supplier-info, .evaluations {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #333;
}

.search-box {
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #5f5f9e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .logout {
        margin-top: 10px;
    }

    main {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 5px;
    }
}